/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#WebGL-Output {
    transition: margin-left .5s;
}
#fadeScreen {
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    background: #575252;
    opacity: 0;
}
#fadeScreen img {
    height: 25%;
    margin-top: 15%;
}
#toggleView {
    top: 30%;
    left: 2%;
    z-index: 1000;
}
.title {
    position: absolute;
    top: 0;
}
.overlay {
    position: absolute;
    text-align: center;
}
.overlay p {
    margin-bottom: 0.25rem;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
    -webkit-touch-callout: none;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 15%;
    -webkit-touch-callout: none;
}
#info img {
    width: 100%;
}
.infoTitle {
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgb(100, 100, 100);
    color: white;
    border: 2px solid white;
    border-radius: 0 20px 20px 0;
    padding: 5px 0;
    width: 50%;
}
.infoContent {
    position: absolute;
    top: 0%;
    left: 45%;
    background-color:  rgba(130, 130, 255, 0.75);
    color: white;
    border: 2px solid white;
    border-radius: 0 20px 20px 0;
    padding: 5px 0;
    width: 35%;
}
#sideMenuIconLeft {
    top: 15%;
    left: 2.5%;
}
#sideMenuIconRight {
    top: 15%;
    right: 2.5%;
}
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sideNav-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    color: white;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideNav-right a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sideNav-right .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
#visibility,
#visibilityNational {
    top: 5%;
    right: 2%;
    width: 10%;
}
#scales,
#scalesNational {
    top: 25%;
    right: 1%;
    width: 15%;
}
#key,
#keyNational {
    top: 12.5%;
    left: 2%;
    width: 13%;
    border: 3px solid white;
    border-radius: 10px;
}
#infoLabel {
    top: 37.5%;
    left: 2%;
    width: 13%;
    border: 3px solid white;
    border-radius: 10px;
}
.switch {
    position: relative;
    width: 50px;
    height: 25px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(136, 135, 135);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
/* Rounded toggle switches */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Range sliders */
.rangeSlider {
    -webkit-appearance: none;
    width: 100%;
    overflow: hidden;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(136, 135, 135);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.rangeSlider:hover {
    opacity: 1;
}
.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(74, 87, 201);
    cursor: w-resize;
    box-shadow: -1010px 0 0 1000px #666;
}
.rangeSlider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 25px;
}
.rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(74, 87, 201);
    cursor: pointer;
}